*{
    box-sizing: border-box;
}
body{
    padding: 0px;
    margin: 0px;
}

.header {

    background-color: #007297;

    padding: 13px;

    font-size: 16px;

    color: white;

    display: flex;

    padding-left: 10%;

    font-family: Arial, Helvetica, sans-serif;

}

.name {

    padding-right: 40%;

}

.header p {

    padding-left: 5%;

    color: white;

}

.name {

    font-size: 20px;

    margin-left: 0px;

}

.About h1 {

    font-size: 40px;

    margin-left: auto;

    margin-right: auto;

    display: flex;

    justify-content: center;

}

.About p,
span {

    margin-top: 20px;

    margin: auto;

    padding: 0;

    display: flex;

    justify-content: center;

}

.container {

    color: black;

    margin-top: 5%;

    background-color: white;

    display: flex;

    justify-content: space-around;

    padding: 10%
}

.information {

    padding-left: 10%;

    width: 45%;

}



.information :nth-child(1) {

    font-size: 50px;
    color: #007297;

}

.information :nth-child(2) {

    font-size: 25px;
    color: black;

}

.information :nth-child(3) {

    font-size: 25px;
    color: black;

}

.information :nth-child(4) {

    font-size: 25px;
    color: black;

}

.description {

    font-size: 28px;

    width: 40%;

}



h2 {

    color: #007297;

    font-size: 30px;

    margin-top: 10%;

    margin-left: 10%;

    margin-bottom: 5%;

}



.skills {

    margin-top: 2%;

    color: white;

    display: flex;

    margin-right: 10%;

    margin-bottom: 2%;

    justify-content: center;
    


}

.skills div {

    box-shadow: 2px 2px 2px 2px grey;

    background-color: darkslategrey;

    border-radius: 20px;

    margin-left: 10%;

    height: 180px;

    width: 300px;

    padding: 20px;

    text-align: center;

}



.footer {

    margin-top: 10%;

    font-size: 20px;

    padding: 8%;

    color: white;

    background-color: #007297;

    text-align: center;

}



.footer :nth-child(2) {

    font-size: 24px;

}



.logo {

    opacity: 0.6;

}



.fa {

    padding: 8px;

    text-align: center;

    margin: 1px 1px;

    font-size: 16px;

    width: 10px;

}

.fa-facebook {

    font-size: 10px;

    background: #3AE4FF;

    color: #007297;

}

.fa-twitter {

    background: #3AE4FF;

    color: #007297;

}

.fa-linkedin {

    border-radius: 3px;

    background: #3AE4FF;

    color: #007297;

}

.fa-instagram {

    background: #3AE4FF;

    color: white;

    background: none;

}

.fa:hover {

    opacity: 0.9;

}